// app global css in Sass form

.clr-tp-light-teal
    color: $tp-teal-light

.clr-tp-teal
    color: $tp-teal-dark

.bg-tp-light-teal
    background-color: $tp-teal-light

.bg-tp-teal
    background-color: $tp-teal-dark
